#root {
  text-align: center;
  color: #636569;
}

.book-list {
  display: grid;
  grid-template-columns: repeat((300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.book-list div {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background-color: #9bbec8;
}

.book-list img {
  max-width: 100%;
  height: auto;
}

form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  color: #45474b;
  font-family: "Monserrat", sans-serif;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 4px;
  font-family: "Monserrat", sans-serif;
}

button {
  background-color: #385838;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Monserrat", sans-serif;
}

button:hover {
  background-color: #51bd57;
  transition: 2s ease-in-out;
}
